@page "{qid?}"
@model ProgramareAvansataCA.Pages.ComicsModel
@{
    ViewData["Title"] = "Comics";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@if (Model.IsById)
{
    <h1>@Model.SingleComicBook.Title</h1>

    <img src="@Model.SingleComicBook.ImageUrl" alt="thumbnail" class="img-thumbnail, float-left" style="width:300px;height:300px" />
    <table>
        <tr>
            <td>
                <label for="title" class="font-weight-bold">Title :</label>
                <span id="title">@Model.SingleComicBook.Title</span>
            </td>
        </tr>
        <tr>
            <td>
                <label for="auth" class="font-weight-bold">Author:</label>
                <span id="auth">@Model.SingleComicBook.Author</span>
            </td>
        </tr>
        <tr>
            <td>
                <label for="desc" class="font-weight-bold">Description:</label>
                <span id="desc">@Model.SingleComicBook.Description</span>
            </td>
        </tr>
        <tr>
            <td>
                @if (Model.SingleComicBook.IssueDate != null)
                {
                    <label for="issue" class="font-weight-bold">Issued On :</label>
                    <span id="issue">@Model.SingleComicBook.IssueDate</span>

                }
            </td>
        </tr>
    </table>
    <form action="/EditComic/@Model.SingleComicBook.Id">
        <button type="submit">Edit</button>
    </form>
}
else
{
    <form method="post">
        <table class="table">
            <thead>

            </thead>
            <tbody class="text-center" >
                @foreach (var item in Model.ComicBooks)
                {
                    <tr>
                        <td>
                            <img src="https://picsum.photos/100/100?random=@item.Id" />
                        </td>
                        <td>
                            @item.Title
                        </td>
                        <td>
                            <a href="/Comics/@item.Id">Details</a>
                        </td>
                        <td>
                            <a href="/EditComic/@item.Id" class="btn">Edit</a>
                        </td>
                        <td>
                            <button type="submit" asp-page-handler="delete" asp-route-id="@item.Id">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
}
